/* ------------------------------------------------------------------------------
	Typography
-------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Open%20Sans:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,400,500,600,700);

p {
	font-size: 13px;
	line-height: 22.4px;
	color: #6c7279;
}

h1 {
	font-size: 50px;
	color: #2d3033;
}

h2 {
	font-size: 40px;
	color: #2d3033;
}

h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}

h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}

h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}

.btn {
	background-color: #3bc492;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	border: 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 3px;
	display: inline-block;
	text-transform: uppercase;
}

.btn:hover, .btn:focus {
	background-color: #3d3d3d;
	color: #C0C0C0;	
}

.btn-large {
	background-color: #3bc492;
	
}

.btn-xs {
	background-color: transparent;
	border: 1px solid #e6e6e6;
	color: #8a8a8a;
	border-radius: 3px;
	font-weight: bold;
	font-size: 10px;
	margin-left: 20px;
}

.btn-xs:hover, .btn-xs:focus {
	background-color: #515151;
	color: #fff;
}

.btn-large:hover{
	background-color: #75d5b2;
	color: #C0C0C0;	
}

.btn-large.an:hover{
	background-color: #AAAAAA;
	color: #fff;
	border: 2px solid transparent;	
}

.btn-large.an {
    	border: 2px solid #AAAAAA;
	padding: 15px 40px;
	margin-right: 8px;
	margin-bottom: 25px;
	background-color: transparent; 	
}

.btn-large.bn {
	border: 2px solid #3bc492;
	background-color: #3bc492;
	padding: 15px 40px;
	margin-right: 8px;
	margin-bottom: 25px;
}

.btn-large.tr {
	border: 2px solid #00CED1;
	background-color: transparent; 
	margin-right: 8px;
	color: #00CED1;
}

.btn-large.view {
	background-color: #00CED1; 
	margin-right: 8px;
	color: #00CED1;
}

/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/


body {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	color: ;
	background-color: #fcfcfc;
}

ul, ol {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

.section {
	padding: 100px 0;
	
}

.no-padding {
	padding: 0;
}

.no-gutter [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}

.space {
	margin-top: 60px;
}

.codelink {
	color: #009FCC;
	font-weight: bold;
	font-size: 14px;
}


/* ------------------------------------------------------------------------------
	Header
-------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------
	Navigation
-------------------------------------------------------------------------------*/
 
#menu {
    	background-color: rgba(28, 43, 75, 1);
        color: #fff;
        font-size: 12px;
        font-weight: 900;
        letter-spacing: 1px;
        min-height: 100px;
	
}

.logo-custom {
    	max-height: 40px;
	
}

.navbar-brand{
	margin-top: 26px;
}

.navbar-inverse .navbar-nav {
	margin-top: 30px;
}

.navbar-inverse {
    	border-color: transparent;
	background-image: url(../images/banner.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	opacity:0.8;
	filter:alpha(opacity=80);
	
}

.navbar-inverse .navbar-toggle{
	border-color: transparent;
	margin-top: 30px;
}

.navbar-inverse .navbar-nav > li > a {
        color: #FFF;
        padding: 10px 10px;
}

.navbar-inverse .navbar-nav > li > a:hover,  
.navbar-inverse .navbar-nav > li > a:focus {  
     	color: #00CED1;     
}  

.navbar-inverse .navbar-toggle:hover,  
.navbar-inverse .navbar-toggle:focus {  
    	background-color: transparent;  
}  

.navbar-inverse .navbar-nav > li .active { 
	 background-color:#fff;	 
} 


/* ------------------------------------------------------------------------------
	Banner
-------------------------------------------------------------------------------*/

.banner {
	background-image: url(../images/banner.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 580px;
}

.banners {
	background-image: url(../images/banner.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 100px;
}

.banner-text {
	padding-top: 22%;
}

.banner-text h1 {
	color: #fff;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
}

.banner-text p {
	color: rgba(255, 255, 255, 0.60);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 80px;
}

.content-model{
	font-size:20px;
	border: 10px solid #f0f0f0;
	margin-bottom:20px;
}

/* ------------------------------------------------------------------------------
	Models list
-------------------------------------------------------------------------------*/

.ser {
	position: relative; 
	background-color: #fbfbfb;
}

.search {
	width: 70%; 
	float: left; 
	margin-bottom: 30px; 
	height:32px; 
	line-height: 32px;
	border-radius: 2px;
	border: 1px solid #E0E0E0;
	padding-left: 26px;
	padding-top: 4px;
	padding-right: 10px;
}

.fa {
	position: absolute; 
	left: 0; 
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	color: #C0C0C0;

}

.notice {
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        height: 100%;
   	width: 100%;
   	border:1px solid #f7f7f7;
   	border-left: 6px solid #A9A9A9;
   	margin-bottom: 10px;
   	border-radius: 2px;
	background-color: #ffffff;
	
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice-lg {
    	text-align:left;
    	padding-left: 18px;
    	font-size: large;
    	padding-bottom: 5px;
}

.notice-lg .name { 
    	color: #009FCC;
    	font-size: 18px;
	margin-bottom: 5px;
	text-align: left;
	font-weight: bold;
	
}

.notice-lg .id { 
    	color: #009FCC;
   	font-size: 16px;
	margin-bottom: 5px;
	text-align: left;
	font-weight: bold;	
}

.notice-lg>p {
    	color: gray;
	font-size: 20px;		
}

.notice:hover {
    	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-left: 6px solid #20B2AA;	
}

.contr p{
	color: #787878;
	font-size: 15px;
	text-align: left;
}

.des h1 {
	font-size: 22px;
	color: #787878;
	text-align: left;
	font-weight: bold;
	padding: 10px;
	padding-top: 4px;
	margin-bottom: 20px;
}

.contr {
	margin-bottom: 34px;
}

.contr h4{
	font-size: 26px;
	color: #787878;
	text-align: left;
	font-weight: bold;
	margin-bottom: 30px;
}

.contr h5{
	font-size: 12px;
	color: #787878;
	text-align: center;	
}

.des {
	border:0px solid white;
	border-left: 6px solid #20B2AA;
	height: 30px;
	width: 100%;
	text-align: left;	
	margin-bottom: 20px;
}

.desm {
	border:0px solid white;
	border-left: 6px solid #20B2AA;
	height: 60px;
	width: 100%;
	text-align: left;	
	margin-bottom: 20px;
}

.desm p {
	padding-left: 10px;
	padding-top: 8px;
	text-align: left;	
}

.contents {
	margin-left: 35%;
	margin-bottom: 10px;
	border: 1px solid #fff;
	width: 54px;
	height: 54px;

}

.part {
	margin-top: 30px;
}

.conForm {
	text-align: center;	
}

.navpart{
	margin-bottom: 80px;
}

.rows{
 	margin-top: 100px;	
}

.conForm h5 {
	font-size: 35px;
	margin-top:100px;
	margin-bottom: 60px;
	color: #939393;
}

.conForm h4 {
	font-size: 26px;
	color: #787878;
	text-align: left;
	font-weight: bold;	
}

.conForm h6 {
	font-size: 15px;
	color:gray;
	text-align: left;
}

.conForm h2 {
	font-size: 20px;
	color:gray;
	text-align: center;
	margin: 7%;
	
}
.conForm h3 {
	color:gray;
	font-size: 18px;
	margin-top: 24px;
    font-weight: normal;
	text-align: left;
	margin-bottom: 36px;
}

.conForm h1 {
	color:gray;
	font-size: 20px;
	text-align: left;	
}

.conForm p {
	color: #787878;
	font-size: 15px;
	text-align: left;	
}

.model-title {
	margin-bottom: 40px;
}

#cta-section {
	padding: 50px 50px 100px 80px;

}

.cta-btn {
	margin-top: 60px;	
}

.cta h1{
	font-size: 30px;
	color: gray;
	margin-bottom:20px;
}

.btn-default, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.btn-lg {
	font-size: 1.3em;
	padding: 10px 40px;
	background-color:white;
	color:gray;
	
}

.rotate-box-info h2{
	color:#00CED1;
	font-weight: bold;
}


/* ------------------------------------------------------------------------------
	singlemodel Style
-------------------------------------------------------------------------------*/

a:hover,a:focus{
 	text-decoration: none;
 	outline: none;
}

#accordion .panel{
 	box-shadow: none;
 	border: 1px solid #f7f7f7;
 	margin-bottom: 10px;
 	margin-left: auto;
 	margin-right: auto;
 	width:100%;
}
 
#accordion .panels{
 	margin-left: auto;
 	margin-right: auto;
 	width:100%;
 	padding: 0;
 	border-left: 3px solid #009FCC;
 	background-color: #fff;
	border-radius: 5;
 	margin-bottom: 10px;
 
 -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2); 
}
 
#accordion .panel:hover {
    	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#accordion .panels:hover {
    	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#accordion .panel-heading:hover {
    	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#accordion .panel-headings:hover {
    	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#accordion .panel-headingsb:hover {
    	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#accordion .panel-headingsbt:hover {
    	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#accordion .panel-headingl:hover {
    	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#accordion .panel-headingsu:hover {
    	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#accordion .panel-heading.sn:hover {
    	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#accordion .panel-heading.sn{
 	padding: 0;
 	border-radius: 5;
 	text-align: center;
 	background-color: #fff;
 	border-left: 6px solid #7f7f84; 
 
  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);			
}

#accordion .panel-heading{

 	padding: 0;
 	border-radius: 5;
 	text-align: center;
 	background-color: #fff;
 	border-left: 6px solid #20B2AA; 

  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);			
}

#accordion .panel-headings{
 	padding-bottom: 0;
 	border-radius: 5;
 	border-left: 3px solid #009FCC;
 	background-color: #fff;
 	border-radius: 5;
 	margin-bottom: 10px;
 	height: 50%;
 	width: 100%;
	
 -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

#accordion .panel-headingsbt{
 	padding: 0;
 	border-radius: 5;
 	border-left: 3px solid #9fefe7;
 	background-color: #fff;
 	border-radius: 5;
 	margin-bottom: 10px;
 	height:50%;
	
 -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2); 
}

#accordion .panel-headingl{
 	padding: 0;
 	border-radius: 5;
 	border-left: 3px solid #009FCC;
 	background-color: #fff;
 	border-radius: 5;
 	margin-bottom: 10px;
 
 -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

#accordion .panel-headingsb{
 	padding: 0;
 	border-radius: 5;
 	border-left: 3px solid #40E0D0;
 	background-color: #fff;
 	border-radius: 5;
 	margin-bottom: 10px;
 
 -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);

}

#accordion .panel-headingsu{
 	padding: 0;
 	border-left: 3px solid #CCEEFF;
 	background-color: #fff;
 	border-radius: 5;
 
 -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

#accordion .panel-title {

}

#accordion .panel-title a{
 	display: block;
 	padding: 32px;
 	font-size: 18px;
 	font-weight: bold;
	text-align: left;
	background-color: #fff;
 	transition: all 0.5s ease 0s;
}

#accordion .panel-titles a{
 	display: block;
 	padding: 14px;
 	padding-top: 20px;
 	font-size: 15px;
 	font-weight: bold;
 	text-align: left;
 	background-color: #fff;
 	color:gray;
 	transition: all 0.5s ease 0s;
}

#accordion .panel-titled {
 	display: block;
 	padding: 14px;
 	padding-top: 22px;
 	font-size: 15px;
 	font-weight: bold;
 	text-align: left;
 	background-color: #fff;
 	color:gray;
 	transition: all 0.5s ease 0s;
}

#accordion .panel-titlesb a{
 	display: block;
 	padding: 16px;
 	font-size: 14px;
 	font-weight: bold;
 	text-align: left;
 	background-color: #fff;
 	color:gray;
 	transition: all 0.5s ease 0s;
}

#accordion .panel-titlel a{
 	display: block;
	padding: 26px;
 	font-size: 16px;
 	font-weight: bold;
	text-align: left;
	color:gray;
	background-color: #fff;
 	transition: all 0.5s ease 0s;
}

#accordion .panel-body{
 	font-size: 14px;
 	color: gray;
 	background: #F5F5F5;
 	padding: 15px 20px;
 	line-height: 25px;
	border: none;
 	position: relative;
 	margin-top: 0;
 	opacity:70%;
}

#accordion .panel-bodys{
 	font-size: 14px;
	color: #7c7c7c;
 	background: #fff;
 	padding: 12px 15px;
 	line-height: 25px;
 	position: relative;
 	margin-bottom:10px;
 	text-align:left;
}

#accordion .panel-bodysb{
 	font-size: 13px;
 	color: #7c7c7c;
 	background: #fff;
 	padding: 12px 15px;
 	line-height: 25px;
 	position: relative;
 	margin-bottom:10px;
 	text-align:left;
}


#accordion .body-content{
	margin-bottom: 15px;
}

#accordion .panel-body:after{
 	content: "";
}

#accordion .downloadButt {
	text-align: right; 
	margin-bottom: 10px;
}

table { 
  	width: 100%; 
  	border-collapse: collapse; 
}

th { 
  	background: #808080; 
  	color: white; 
  	font-weight: bold; 
}

tr:nth-of-type(even) { 
  	background: #eee; 
}
